.ProjectCarousel {
  width: 100%;
  padding: 0 1em;
  justify-content: center; }
  .ProjectCarousel p {
    text-align: left;
    margin: 0 auto 1em auto; }

@media screen and (min-width: 768px) {
  .ProjectCarousel {
    padding: 4em; }
    .ProjectCarousel img {
      max-height: 60vh;
      width: auto; }
    .ProjectCarousel p {
      max-width: 40em; } }
