.ProjectCarousel {
  width: 100%; }

.ProjectCarousel .carousel-item {
  margin: auto;
  text-align: center; }

.ProjectCarousel img {
  width: auto;
  max-height: 70vh; }

.ProjectCarousel .description p {
  text-align: left;
  margin: auto;
  margin-bottom: 1em;
  padding: 0 1em;
  vertical-align: middle; }

/* controls */
.ProjectCarousel .carousel-control-prev,
.ProjectCarousel .carousel-control-next {
  background: none;
  color: #000000;
  width: 50vw;
  cursor: pointer; }

.ProjectCarousel .carousel-control-prev {
  justify-content: flex-start;
  padding-left: 4em; }

.ProjectCarousel .carousel-control-next {
  justify-content: flex-end;
  padding-right: 4em; }

@media screen and (min-width: 768px) {
  .ProjectCarousel {
    margin-bottom: 4em; }
    .ProjectCarousel .carousel-item {
      min-height: 50vh; }
    .ProjectCarousel .carousel-caption {
      text-align: left;
      margin: auto; }
    .ProjectCarousel .description p {
      max-width: 40em; } }
