
.ProjectCarousel {
  width: 100%;
  padding: 0 1em;
  justify-content: center;

  p {
    text-align: left;
    margin: 0 auto 1em auto;
  }
}

@media screen and (min-width: 768px) {

  .ProjectCarousel {
    padding: 0 4em;

    img {
      width: auto;
      max-height: 65vh;

    }

    p {
      max-width: 40em;
    }
  }

}
