.ProjectCarousel {
  width: 100%;
}

.ProjectCarousel .carousel-item {
  margin: auto;
  text-align: center;
}

.ProjectCarousel img {
  width: auto;
  max-height: 70vh;
}

.ProjectCarousel .description p {
  text-align: left;
  max-width: 50vw;
  margin: auto;
  margin-bottom: 1em;
}

/* controls */
.ProjectCarousel .carousel-control-prev,
.ProjectCarousel .carousel-control-next {
  background: none;
  color: #000000;
  width: 50vw;
  cursor: pointer;
}

.ProjectCarousel .carousel-control-prev {
  margin-right: 50%;
}
.ProjectCarousel .carousel-control-next {
  margin-left: 50%;
}

@media screen and (min-width: 768px) {
  .ProjectCarousel {
    margin-bottom: 4em;
  }

  .ProjectCarousel .carousel-item {
    min-height: 50vh;
  }

  .ProjectCarousel .carousel-caption {
    text-align: left;
    margin: auto;
  }
}
