.Menu {
  padding: 0;
  margin: 0; }
  .Menu a {
    color: #000000;
    padding: 0 0 0 1em;
    text-decoration: none; }
    .Menu a:active, .Menu a.active, .Menu a:hover {
      text-decoration: underline; }

@media screen and (min-width: 768px) {
  .Menu {
    height: 3rem; } }
