.Projects {
  margin: auto;
  margin-bottom: 4em;
  max-width: 100vw;
  max-height: 100vh; }

@media screen and (min-width: 768px) {
  .Projects {
    max-width: 100vw;
    margin-bottom: 0; }
    .Projects .content {
      height: 75vh;
      padding: 0 1em; } }
