.Contact .content {
  padding: 1em;
  margin-bottom: 4em; }

.Contact address {
  padding-left: 0;
  margin: 0; }

.Contact .soc a, svg {
  display: inline-block; }

.Contact .soc a {
  position: relative;
  height: 10px;
  height: 1em;
  width: 10px;
  width: 1em;
  margin-right: 1em; }

.Contact .soc svg {
  height: 100%;
  width: 100%; }

@media screen and (min-width: 768px) {
  .Contact .content {
    padding: 4em; } }
