.Header {
  padding: 1em;

  .logo,
  .text-right {
    padding: 0;
    margin: 0 auto 1em;
  }

  .Title {
    font-size: inherit;
    margin-bottom: 0;
  }

  .logo a {
    padding: 0;

    img {
      object-fit: contain;
      margin: 0;
      padding: 0;
      max-width: 100%;
    }
  }

  .text-right {
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .Header {
    padding: 4em;
    height: 25vh;

    a:before,
    h1:before,
    a {    /* create a full-height inline block pseudo=element */
      content: ' ';
      display: inline-block;
      vertical-align: bottom;  /* vertical alignment of the inline element */
      height: 100%;
    }

    .Title {
      height: 3em;
    }

    .logo {
      text-align: left;

      img {
        height: 3em;
      }
    }
  }
}
