.Header {
  padding: 1rem; }
  .Header .logo,
  .Header .text-right {
    padding: 0;
    margin: 0 auto 1rem; }
  .Header .Title {
    font-size: inherit;
    margin-bottom: 0; }
  .Header .logo a {
    padding: 0; }
    .Header .logo a img {
      object-fit: contain;
      margin: 0;
      padding: 0;
      max-width: 100%; }
  .Header .text-right {
    padding-right: 0; }

@media screen and (min-width: 768px) {
  .Header {
    padding: 4rem;
    height: 25vh; }
    .Header a:before,
    .Header h1:before,
    .Header a {
      /* create a full-height inline block pseudo=element */
      content: ' ';
      display: inline-block;
      vertical-align: bottom;
      /* vertical alignment of the inline element */
      height: 100%; }
    .Header .Title {
      height: 3rem; }
    .Header .logo {
      text-align: left; }
      .Header .logo img {
        height: 3rem; } }
