.Header {
  padding: 1em;

  .logo,
  .text-right {
    padding: 0;
    margin: 0 auto 1em;
  }
  .Menu {
    padding: 0;
    margin: 0;
  }

  .logo a {
    padding: 0;

    img {
      object-fit: contain;
      margin: 0;
      padding: 0;
      max-width: 100%;
    }
  }

  .text-right {
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .Header {
    padding: 4em;
    height: 25vh;

    .logo {
      text-align: left;

      img {
        height: 3em;
      }
    }
  }
}
